name: Deploy to GitHub Pages

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: 'npm'
          cache-dependency-path: web/package-lock.json

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Install dependencies
        run: npm install
        working-directory: ./web

      - name: Build with Next.js
        run: npm run build
        working-directory: ./web
        env:
          NEXT_PUBLIC_BASE_PATH: /shalini
          NEXT_PUBLIC_SANITY_PROJECT_ID: 8d6rm3a1
          NEXT_PUBLIC_SANITY_DATASET: production

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./web/out

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
